# Project exclude paths
/target/
/.idea/dataSources/81359122-d3a4-4cbe-9f2d-590f8d24f950.xml
/.idea/dataSources/81359122-d3a4-4cbe-9f2d-590f8d24f950/storage_v2/_src_/database/MYH2.llckAA/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/81359122-d3a4-4cbe-9f2d-590f8d24f950/storage_v2/_src_/database/MYH2.llckAA.meta
/.idea/dataSources/81359122-d3a4-4cbe-9f2d-590f8d24f950/storage_v2/_src_/database/MYH2.llckAA/schema/PUBLIC.aaZQjQ.meta
/.idea/dataSources/81359122-d3a4-4cbe-9f2d-590f8d24f950/storage_v2/_src_/database/MYH2.llckAA/schema/PUBLIC.aaZQjQ.zip
/.idea/vcs.xml
/.idea/dataSources/17c3f032-80bd-4a54-94ca-af0fb5f81229.xml
/.idea/dataSources/17c3f032-80bd-4a54-94ca-af0fb5f81229/storage_v2/_src_/database/hiber.7sPqBQ.meta
/.idea/dataSources/17c3f032-80bd-4a54-94ca-af0fb5f81229/storage_v2/_src_/database/hiber.7sPqBQ/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/17c3f032-80bd-4a54-94ca-af0fb5f81229/storage_v2/_src_/database/hiber.7sPqBQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/17c3f032-80bd-4a54-94ca-af0fb5f81229/storage_v2/_src_/database/hiber.7sPqBQ/schema/public.abK9xQ.meta
