# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\newprojects\myHiberM2M\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
